---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="flex">
      <aside
        class="bg-[url('/bg.png')] min-w-[375px] h-screen flex flex-col justify-center items-center"
      >
        <a href="/">
          <img
            class="rounded-full"
            src="/silhoutte.png"
            alt="silhoutte"
            width="200"
            height="200"
          />
        </a>
        <h1 class="font-title font-thin text-white text-5xl mt-4">
          robert lynch
        </h1>
      </aside>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="flex my-10">
                <time
                  datetime={post.frontmatter.date}
                  class="w-40 flex flex-col items-center justify-center text-zinc-700"
                >
                  <span class="text-4xl">
                    {new Date(post.frontmatter.date).toLocaleDateString(
                      "en-us",
                      {
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </span>
                  <span>
                    {new Date(post.frontmatter.date).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                      }
                    )}
                  </span>
                </time>
                <div class="flex flex-col">
                  <h2 class="text-5xl font-extrabold">
                    <a href={post.url}>{post.frontmatter.title}</a>
                  </h2>
                  <p>{post.frontmatter.description}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
